@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Default styling initialise --- Setting Border box initial font families etc */

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #333333;
  line-height: 1.6;
}

ul {
  list-style: none;
}
a {
  color: #333333;
  text-decoration: none;
}

h1, h2 {
  font-weight: 600;
}

/* Image styling by default */

img {
  width: 100%;
}


.fontwhite {
    color: #ffffff
}


/*navbar rules override bootstrap css placed after bootstrap classes!  hmmm...*/

.navbar {
    padding: 0;
    font-weight: 400;
}

/* header - hero section */

.hero {
    background: url('../images/studiodesk.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*justify-content: center;*/
    align-content: center;
    height: 70vh;
    background-attachment: fixed;
    color: #ffffff;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
   
  color: white;
    
}


/* containers and blocks */

.container-fluid {
    padding: 1% 10%;
}

.separatorblock {
    background: #fafafa;
}

.separatorblock-dark {
    background: #121216;
}


.boxmargin {
    margin: 20px 10px;
}

.cardpadding {
    padding: 10%;
}

.imagebox {
    border-radius: 2%;
    height: 80%;
    width: 80%;

}

.headermar {
    padding: 25px;
}


.card-image {
    background: url('../images/studiodesk.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.btn-spacer {
    margin-top: 25px;
    margin-bottom: 25px;
   /* padding: 10%; */
}

/* footer css */

.footer {
    background: #222228; 
    color: #ffffff;
    padding: 25px;
}

.footer h2 {

    font-weight: 500;
    font-size: 16px;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    
    
}

/* aware needs condensing  */


.footer ul.li {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    
}

.list-inline-item {
    color: #fafafa;
}

.hover :hover {
    color: #fafafa;

}

.copyright {
   text-align: right;
   padding: 25px%;
}

.inline-block {
    display: inline;
}

/*testimonials*/ 

.testimonials {
    text-align: center;
    color: #ffffff;

}

.testimonial-images {
    width:15%;
    border-radius: 100%;
    margin: 20px;


}

/*carousel controls*/
.carousel-item {
padding: 7% 15%;
}

.textalign-center {
    align-content: center;
    text-align: center;
    padding: 5%;
    display: inline-block
}

.press {
    width: 10%;
    margin: 20px 20px 50px;

}

/* Contact css */

.form-group {
    margin: 5%
}
.form-group h1 p {
    font-weight: 600;

}
